.d-grid{
    margin-top: 200px;
    margin-left: 2%;
}
.btn{
    margin-top: 30px;
}
.setspace{
    margin-top: 30px;
    margin-left: 2%;

}
.space-bottom{
    margin-bottom: 45px;
}
.checkBox{
    margin-left: 2%;
}
.table{
    margin-left: 2%;
    
}
.r-space{
    
    margin-left: 2%;

}
.result{
    margin-top: 30px;
    margin-left: 2%;
}